<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mach.Kinectomix.LevelEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Kinectomix.LevelEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
      <Mach.Kinectomix.LevelEditor.Properties.Settings>
        <setting name="AtomTilesDirectory" serializeAs="String">
          <value>Tile/Atom</value>
        </setting>
        <setting name="TileWith" serializeAs="String">
          <value>60</value>
        </setting>
        <setting name="TileHeight" serializeAs="String">
          <value>60</value>
        </setting>
        <setting name="DefaultBoardRows" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="DefaultBoardColumns" serializeAs="String">
          <value>7</value>
        </setting>
        <setting name="DefaultMoleculeRows" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="DefaultMoleculeColumns" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="FixedTilesDirectory" serializeAs="String">
          <value>Tile/Fixed</value>
        </setting>
        <setting name="GameName" serializeAs="String">
          <value>Kinectomix</value>
        </setting>
        <setting name="ShowAssetToolTips" serializeAs="String">
          <value>True</value>
        </setting>
      </Mach.Kinectomix.LevelEditor.Properties.Settings>
      <Kinectomix.LevelEditor.Properties.Settings>
        <setting name="AtomTilesDirectory" serializeAs="String">
          <value>Tile/Atom</value>
        </setting>
        <setting name="TileWith" serializeAs="String">
          <value>49</value>
        </setting>
        <setting name="TileHeight" serializeAs="String">
          <value>49</value>
        </setting>
        <setting name="DefaultBoardRows" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="DefaultBoardColumns" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="DefaultMoleculeRows" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="DefaultMoleculeColumns" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="FixedTilesDirectory" serializeAs="String">
          <value>Tile/Fixed</value>
        </setting>
        <setting name="GameName" serializeAs="String">
          <value>Kinectomix</value>
        </setting>
      </Kinectomix.LevelEditor.Properties.Settings>
    </userSettings>
</configuration>
